.header img {
    width: 20%;
}

.header {
    text-align: center;
}

.header nav {
    background-color: black;
    line-height: 50px;
    width: 100%;
}

.header nav a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 19px;
    padding: 12px;
}

.header nav a:hover {
    background-color: rgb(80, 70, 221);
    border-bottom: 1px solid rgb(43, 224, 67);
}