.container {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}

.category,
.top_products {
    padding: 30px;
    background-color: rgb(222, 224, 224);
    height: 600px;
}

.products {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.items {
    width: 235px;
    height: 250px;
    background-color: rgb(222, 224, 224);
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width:600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .category,
    .top_products {
        display: none;
    }
    .category,
    .top_products {
        padding: 30px;
        background-color: antiquewhite;
        height: 600px;
    }
    .products {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0 auto;
    }
    .items {
        width: 400px;
        height: 200px;
        background-color: rgb(213, 221, 221);
        padding: 20px;
    }
}